<div class="card animated fadeIn fast" >
  <img src="" class="card-img-top" [alt]="pet.petData.name">
  <div class="card-body">
    <h5 class="card-title">{{pet.petData.name}}</h5>
    <p class="card-text">Especie <small class="text-muted">{{pet.petData.species}}</small></p>
    <p class="card-text">Edad <small class="text-muted">{{pet.petData.age}}</small></p>
    <p class="card-text">Dueño <small class="text-muted">{{pet.ownerData.ownerName}}</small></p>
    <button (click)="openPet()" class="btn btn-outline-primary btn-block">Ver historia clínica</button>
    <button (click)="openVisit()" class="btn btn-outline-primary btn-block">Añadir nueva visita</button>
  </div>
</div>
